.home {
  width: 80vw;
  margin: auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  justify-content: center;
  gap: 3rem;
}

.crd {
  box-shadow: rgba(182, 182, 182, 0.35) 0px 5px 15px;
  position: relative;
  justify-self: center;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  background-color: white;
}

.price {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

img {
  max-width: 100%;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.4s;
  z-index: 1;
}
.content {
  width: 100%;
  z-index: 3;
  position: absolute;
  bottom: 0%;
  left: 0%;
  padding: 10px 20px;
  transition: 0.3s;
  transform: translateY(100%);
  border-radius: 10px;
}
.content h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.crd:hover .content {
  bottom: 0%;
  color: white;
  background: #000000d7;
  transform: translateY(0%);
}

.crd:hover img {
  transform: scale(1.1);
}

.price {
  color: green;
  font-weight: bold;
  z-index: 3;
  font-size: 1.2rem;
}

.navbar {
  color: white;
}

.navbar a {
  color: white;
}

.added-cart {
  display: grid;
  grid-template-columns: 40% 50%;
}

.cont {
  color: white;
  padding: 20px;
}

.cont p {
  text-align: justify;
}

table {
  table-layout: fixed;
  width: 100%;
  color: white;
  border: 1.5px solid #fff;
}
.item {
  display: flex;
  width: 100%;
  column-gap: 20px;
  align-items: center;
}
td {
  vertical-align: middle;
}
tr {
  border: 1px solid #fff;
  padding: 8px;
}

.item-data {
  padding: 20px;
}

#search-items {
  position: relative;
}
#search-items input {
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  box-sizing: border-box;
}

#items-suggestions {
  color: black;
  background-color: white;
  width: 100%;
  padding: 10px;
  position: relative;
  z-index: 5;
  border-radius: 20px;
  margin-top: 5px;
}

#items-suggestions ul {
  margin: 0px;
  display: flex;
  flex-direction: column;
  list-style-type: "⏱";
  width: 100%;
}

#items-suggestions li {
  margin: 10px 0px;
  font-size: 0.9rem;
  &:hover {
    background-color: rgb(194, 193, 193);
  }
}
