.home {
  width: 80vw;
  margin: auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  justify-content: center;
  gap: 3rem;
}

.card {
  box-shadow: rgba(182, 182, 182, 0.35) 0px 5px 15px;
  position: relative;
  justify-self: center;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  border: none;
}

.price {
  text-decoration: none;
}

img {
  border: none;
  max-width: 100%;
  border-radius: 10px;
  transform: scale(1);
  transition: all 0.4s;
}
.content {
  width: 100%;
  z-index: 5;
  position: absolute;
  bottom: 0%;
  left: 0%;
  padding: 10px 20px;
  transition: 0.3s;
  transform: translateY(100%);
  border-radius: 5px;
}
.content h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.card:hover .content {
  bottom: 0%;
  color: white;
  background: #000000d7;
  transform: translateY(0%);
}

.card:hover img {
  transform: scale(1.1);
}

.price {
  color: green;
  font-weight: bold;
  z-index: 3;
  font-size: 1.2rem;
}

.navbar {
  color: white;
}

.navbar a {
  color: white;
}

.added-cart {
  display: grid;
  grid-template-columns: 40% 50%;
}

.cont {
  color: white;
  padding: 20px;
}

.cont p {
  text-align: justify;
}

table {
  table-layout: fixed;
  width: 100%;
  color: white;
}
.item {
  display: flex;
  width: 100%;
  column-gap: 20px;
  align-items: center;
}
td {
  vertical-align: middle;
}

.item-data {
  padding: 20px;
}
